<ul [class]="screenClasses">
        @if(isLogged){
                <li><a href="https://" class="text-gray-500 p-2 rounded-lg transitioned hover:bg-sky-500 hover:text-white" >Log out</a></li>
        }@else {
                <li><a routerLink="/signup" class="text-gray-500 p-2 rounded-lg transitioned hover:bg-sky-500 hover:text-white" >Sign up</a></li>
                <li><a routerLink="/login" class="text-gray-500 p-2 rounded-lg transitioned hover:bg-sky-500 hover:text-white" >Log in</a></li>
        }
</ul>