<section class="m-4 grid grid-cols-1 lg:grid-cols-6 gap-2">
    <div class="bg-neutral-700 text-gray-400 main rounded-2xl p-5 col-span-full lg:col-span-1 h-fit overflow-auto">
        <h2 (click)="filterByCategory()" class="cursor-pointer text-xl mb-2 text-center" [class]="!categoryID() ? 'text-sky-500' : 'text-gray-400' ">All Products</h2>
        <h2 class="text-sky-500 text-xl mb-2">Filter By</h2>
        <h3 class="text-lg mt-3">
            <app-letter>S</app-letter>ort
            <app-letter>B</app-letter>y
            <app-letter>P</app-letter>rice
        </h3>
        <select [value]="currentSort()" (change)="sortProducts($event)" class="bg-neutral-700 pe-3 py-1 rounded-xl border-sky-500 outline-none">
            <option class="rounded-xl" value="price">Low To High</option>
            <option class="rounded-xl" value="-price">High To Low</option>
        </select>
        <hr>
        <h3 class="text-lg mt-3 text-center"><app-letter>C</app-letter>ategories</h3>
        @for (cat of categoryList(); track cat._id) {
            <p (click)="filterByCategory(cat._id)" class="cursor-pointer" [class]="categoryID() == cat._id ? 'text-sky-500' : 'text-gray-400' ">{{cat.name}}</p>
            
        }
        <!-- <h3 class="text-lg mt-3">____<app-letter>B</app-letter>rands</h3>
        @for (brand of brandList(); track brand._id) {
            <p class="cursor-pointer">{{brand.name}}</p>
            
        } -->
        
    </div>
    <div class="bg-gray-200 rounded-2xl p-5 col-span-full lg:col-span-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        @for(prd of productList(); track prd._id){
            <app-productcard [product]="prd"></app-productcard>
        }@empty {
            <p class="main text-neutral-700">No products found</p>
        }
        @if (productList().length > 0) {
            <div class="mt-10 col-span-full flex justify-center ">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first()" [rows]="rowsPerPage()" [totalRecords]="totalRecords()" class="rounded-full bg-blue-500 shadow-lg shadow-sky-500" />
            </div>
        }
    </div>
</section>