<section class="m-4 py-20">
    <h1 class="text-center main text-3xl capitalize text-gray-500">
        <app-letter>V</app-letter>erify
        <app-letter>R</app-letter>eset
        <app-letter>C</app-letter>ode
    </h1>
    <p class="text-center text-gray-500 mt-2">reset code expires in 10 minutes</p>
    <form [formGroup]="resetNewPasswordForm" (ngSubmit)="submitResetNewPasswordForm()" class="own-container text-sky-500">
        @let emailControl = resetNewPasswordForm.get('email');
        <div class="card w-5/6 mx-auto my-6">
            <label for="email" class="main text-sky-500 capitalize" [class]="{
                'text-sky-500': emailControl?.valid && emailControl?.touched,
                'text-red-500': emailControl?.invalid && emailControl?.touched,
            }" class="main text-sky-500 capitalize">email</label>
            <input type="email" formControlName="email" id="email" [class]="{
                'border-b-sky-500': emailControl?.valid && emailControl?.touched,
                'border-b-red-500': emailControl?.invalid && emailControl?.touched,
            }" class="w-full border-b-2 border-b-gray-500 outline-none px-2 py-1 focus:border-sky-500 text-gray-500" />
            @if (emailControl?.errors && emailControl?.touched) {
                <app-errormessage>
                    @if(emailControl?.getError('required')){ Email is required}
                    @else if(emailControl?.getError('email')){ Email is invalid}
                </app-errormessage>
            }
        </div>
        @let newPasswordControl = resetNewPasswordForm.get('newPassword');
        <div class="card w-5/6 mx-auto my-6">
            <label for="password" class="main text-sky-500 capitalize" [class]="{
                'text-sky-500': newPasswordControl?.valid && newPasswordControl?.touched,
                'text-red-500': newPasswordControl?.invalid && newPasswordControl?.touched,
            }" class="main text-sky-500 capitalize">New Password</label>
            <input type="password" formControlName="newPassword" id="password" [class]="{
                'border-b-sky-500': newPasswordControl?.valid && newPasswordControl?.touched,
                'border-b-red-500': newPasswordControl?.invalid && newPasswordControl?.touched,
            }" class="w-full border-b-2 border-b-gray-500 outline-none px-2 py-1 focus:border-sky-500 text-gray-500" />
            @if (newPasswordControl?.errors && newPasswordControl?.touched) {
                <app-errormessage>
                    @if(newPasswordControl?.getError('required')){ New password is required}
                    @else if(newPasswordControl?.getError('newPassword')){ New password is invalid}
                </app-errormessage>
            }
        </div>
        <div class="w-5/6 mx-auto">
            <button [disabled]="resetNewPasswordForm.invalid" type="submit" class="w-fit cursor-pointer ms-auto flex justify-center gap-2 mt-7 rounded-xl text-zinc-100 main p-2 bg-sky-500 transitioned hover:bg-transparent hover:text-sky-500 border-2 hover:border-sky-500">
                Send Reset Link
                @if((isLoading())){
                    <lucide-angular [img]="loader"  class="animate-spin"></lucide-angular>
                }
            </button>
        </div>
    </form>
</section>