<section class="m-4 grid grid-cols-1 lg:grid-cols-3 gap-2">
    <div class="bg-gray-200 rounded-2xl p-5 col-span-full lg:col-span-2">
        <h1 class="main text-center text-2xl text-gray-600 mb-4">Shopping Cart</h1>
        <div class="max-w-6xl mx-auto p-4">
            <button (click)="clearCart()" class="py-2 px-4 main text-white bg-neutral-700 rounded-lg my-2 cursor-pointer border-2 border-transparent transitioned hover:text-neutral-700 hover:bg-transparent hover:border-neutral-700 ">clear</button>
            <div class="overflow-x-auto">
                <div class="min-w-175">
                    <div class="grid grid-cols-5 bg-sky-500 text-white font-semibold rounded-xl px-6 py-4 mb-4">
                        <p class="col-span-2">Product</p>
                        <p class="text-center">Price</p>
                        <p class="text-center">Quantity</p>
                        <p class="text-right">Subtotal</p>
                    </div>
                    <!-- ! Repeatable -->
                    @for (item of userCartDetails().products; track item.product._id) {
                        <app-cartitem 
                            [productCartItem]="item" 
                            (deletedPrd)="deleteProduct(item.product._id)" 
                            (increasedCount)="updateItemCount(item.product._id, item.count + 1)"
                            (decreasedCount)="updateItemCount(item.product._id, item.count - 1)">
                        </app-cartitem>
                    }@empty {
                        <p class="text-gray-600">No Products Added yet!</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="bg-neutral-700 text-gray-400 rounded-2xl p-5 col-span-full lg:col-span-1">
        <h2 class="main text-sky-500 text-center text-2xl">Order Summary</h2>
        <p class="flex justify-between text-lg my-2"><span>items</span><span>4</span></p>
        <hr/>
        <p class="flex justify-between text-lg"><span>total</span><span>{{userCartDetails().totalCartPrice}}</span></p>
        <button class="bg-sky-500 w-full text-white p-2 rounded-full my-4 main border-2 border-transparent hover:text-sky-500 hover:bg-transparent hover:border-sky-500 transitioned cursor-pointer">purchase</button>
    </div>
</section>
