<div class="grid grid-cols-5 items-center bg-white rounded-xl shadow-sm px-3 py-4 mb-4">
        <div class="flex items-center gap-4 col-span-2">
            <button (click)="emitProductDeletion()" class="text-gray-400 hover:text-red-500 transitioned cursor-pointer text-xl">
                <lucide-angular [img]="trash"></lucide-angular>
            </button>
            <div class="flex items-center gap-3">
                <img [src]="productCartItem().product.imageCover" class="w-16 object-cover rounded-lg" />
            <div>
                <h4 class="font-semibold text-gray-800">{{productCartItem().product.title}}</h4>
                <p class="text-sm text-gray-500">{{productCartItem().product.category.name}}</p>
            </div>
        </div>
    </div>
    <div class="text-center text-gray-700 col-span-1">{{productCartItem().price}}</div>
    <div class="flex justify-center col-span-1">
        <div class="flex items-center border rounded-full overflow-hidden">
            <button (click)="emitProductDecrease()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">-</button>
            <span class="px-4">{{productCartItem().count}}</span>
            <button (click)="emitProductIncrease()" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">+</button>
        </div>
    </div>
    <div class="text-right font-semibold text-gray-800 col-span-1">{{productCartItem().count * productCartItem().price}}</div>
</div> 