<div class="bg-gray-200 rounded-2xl p-5 m-4">
    <h1 class="main text-center text-2xl text-gray-600 mb-4">Your Wish List</h1>
    <div class="max-w-6xl mx-auto p-4">
        <div class="overflow-x-auto">
            <div class="min-w-175">
                <div class="grid grid-cols-4  text-gray-500 shadow-lg  font-semibold border-b-2  px-6 py-4 mb-5">
                    <p class="col-span-2">Product</p>
                    <p class="text-center">Price</p>
                    <p class="text-center">Action</p>
                </div>
                @for (item of wishProducts(); track item._id) {
                    <app-wishitem [productWishItem]="item" (deletedWishPrd)="deleteWishProduct(item._id)"></app-wishitem>
                }@empty {
                    <p class="text-gray-600">No Products Added yet!</p>
                }
            </div>
        </div>
    </div>
</div>

