/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@layer components {
  .main {
    font-family: 'Bauhaus 93', sans-serif;
  }
  .transitioned {
    @apply transition-all duration-300
  }
  .centered {
    @apply flex justify-center items-center
  }
  .active{
    @apply text-blue-500 border-b-2 border-sky-500
  }
  .own-container {
    @apply container mx-auto
  }
  .badge {
    @apply bg-black rounded-full py-1 px-3 text-center text-white text-sm w-fit
  }
}
