<div class="bg-gray-200 rounded-2xl p-4 mb-4 main grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 shadow-lg text-gray-700">
    <p><app-letter>Name </app-letter>: {{desiredOrder().user.name}}</p>
    <p><app-letter>Email </app-letter>: {{desiredOrder().user.email}}</p>
    <p><app-letter>Phone </app-letter>: {{desiredOrder().user.phone}}</p>
    <p><app-letter>Address </app-letter>: {{desiredOrder().shippingAddress?.city}}</p>
    <p><app-letter>Notes </app-letter>: {{desiredOrder().shippingAddress?.details}}</p>
</div>
<div class="bg-gray-200 rounded-2xl p-4 my-4 main shadow-lg text-gray-700 own-container">
    <h2 class="text-2xl mb-2 text-center">Order Information</h2>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Shipping Price</p>
        <span>{{desiredOrder().shippingPrice}}</span>
    </div>
    <hr>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Tax Price</p>
        <span>{{desiredOrder().taxPrice}}</span>
    </div>
    <hr>
    @for (prd of desiredOrder().cartItems; track prd._id) {
        <div class="flex justify-between w-3/4 mx-auto mt-2">
            <p>{{prd.product.title}}</p>
            <span>{{prd.price}}</span>
        </div>
        <hr>
    }
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Total Order Price</p>
        <span>{{desiredOrder().totalOrderPrice}}</span>
    </div>
    <hr>
</div>
<div class="bg-gray-200 rounded-2xl grid grid-cols-4 p-4 my-4 main shadow-lg text-gray-700 own-container">
    <h2 class="text-2xl mb-2 text-center col-span-full">Your Desired Products</h2>
    <div class="overflow-auto col-span-full flex">
        @for (prd of desiredOrder().cartItems; track prd._id) {
            <app-orderitemcard [orderItemInformation]="prd"></app-orderitemcard>
        }
 
    </div>
</div>