<div class="bg-gray-200 rounded-2xl p-4 my-4 main grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 shadow-lg text-gray-700">
    <p><app-letter>Name </app-letter>: Adham Gamal Abdelnasser</p>
    <p><app-letter>Email </app-letter>: aboeladahem694@gmail.com</p>
    <p><app-letter>Phone </app-letter>: 01207892070</p>
    <p><app-letter>Address </app-letter>: Kafr el dawar</p>
    <p><app-letter>Notes </app-letter>: Detailsssssssss</p>
</div>
<div class="bg-gray-200 rounded-2xl p-4 my-4 main shadow-lg text-gray-700 own-container">
    <h2 class="text-2xl mb-2 text-center">Order Information</h2>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Shipping Price</p>
        <span>50</span>
    </div>
    <hr>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Tax Price</p>
        <span>20</span>
    </div>
    <hr>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Product name</p>
        <span>250</span>
    </div>
    <hr>
    <div class="flex justify-between w-3/4 mx-auto mt-2">
        <p>Total Order Price</p>
        <span>320</span>
    </div>
    <hr>
</div>
<div class="bg-gray-200 rounded-2xl p-4 my-4 main shadow-lg text-gray-700 own-container">
    <h2 class="text-2xl mb-2 text-center">Your Desired Products</h2>
    
</div>